{% extends 'core/base.html' %}

{% block title %}Carrinho de Compras{% endblock %}

{% block wrapper %}
    {% include 'core/header.html' %}

    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <table class="table cart mb-5">
                    <thead>
                        <tr>
                            <th class="cart-product-remove">&nbsp;</th>
                            <th class="cart-product-thumbnail">&nbsp;</th>
                            <th class="cart-product-name">Produto</th>
                            <th class="cart-product-price">Preço Unitário</th>
                            <th class="cart-product-quantity">Quantidade</th>
                            <th class="cart-product-subtotal">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr class="cart_item">
                            <td class="cart-product-remove">
                                <a href="#" class="remove" title="Remover este item"><i class="icon-trash2"></i></a>
                            </td>

                            <td class="cart-product-thumbnail">
                                <a href="#">
                                    <!-- Corrigido para acessar item.produto.imagens -->
                                    <img width="64" height="64" src="{{ url_for('static', filename='uploads/' + item.produto.imagens[0].name) }}"
                                         alt="{{ item.produto.nome }}">
                                </a>
                            </td>

                            <td class="cart-product-name">
                                <a href="#">{{ item.produto.nome }}</a>
                            </td>

                            <td class="cart-product-price">
                                <span class="amount">${{ item.produto.preco }}</span>
                            </td>

                            <td class="cart-product-quantity">
                                <div class="quantity">
                                    <input type="button" value="-" class="minus">
                                    <input type="text" name="quantity" value="{{ item.quantity }}" class="qty" />
                                    <input type="button" value="+" class="plus">
                                </div>
                            </td>

                            <td class="cart-product-subtotal">
                                <span class="amount">${{ item.produto.preco * item.quantity }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="cart_item">
                            <td colspan="6">
                                <div class="row justify-content-between py-2 col-mb-30">
                                    <div class="col-lg-auto ps-lg-0">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="text" value=""
                                                       class="sm-form-control text-center text-md-start"
                                                       placeholder="Enter Coupon Code.." />
                                            </div>
                                            <div class="col-md-4 mt-3 mt-md-0">
                                                <a href="#" class="button button-3d button-black m-0">Apply Coupon</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-auto pe-lg-0">
                                        <a href="#" class="button button-3d m-0">Atualizar Carrinho</a>
                                        <a href="checkout.html" class="button button-3d mt-2 mt-sm-0 me-0">Ir para o Checkout</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="row col-mb-30">
                    <div class="col-lg-6">
                        <h4>Totais do Carrinho</h4>

                        <div class="table-responsive">
                            <table class="table cart cart-totals">
                                <tbody>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>Subtotal</strong>
                                        </td>
                                        <td class="cart-product-name">
                                            <span class="amount">${{ total }}</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>Frete</strong>
                                        </td>
                                        <td class="cart-product-name">
                                            <span class="amount">Frete Grátis</span>
                                        </td>
                                    </tr>
                                    <tr class="cart_item">
                                        <td class="cart-product-name">
                                            <strong>Total</strong>
                                        </td>
                                        <td class="cart-product-name">
                                            <span class="amount color lead"><strong>${{ total }}</strong></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% include 'core/footer.html' %}

{% endblock %}
