{% extends 'core/base.html' %}

{% block title %}Produto - {{ produto.nome }}{% endblock %}

{% block wrapper %}
    {% include 'core/header.html' %}

    <section id="content">
        <div class="content-wrap">
            <div class="container">
                <div class="product">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="{{ url_for('static', filename='uploads/' + produto.imagens[0].name) }}" alt="{{ produto.nome }}" />
                        </div>
                        <div class="col-lg-6">
                            <h2>{{ produto.nome }}</h2>
                            <p>{{ produto.descricao }}</p>
                            <span class="amount">${{ produto.preco }}</span>
                            <form action="{{ url_for('add_to_cart', produto_id=produto.id) }}" method="post">
                                <input type="number" name="quantity" value="1" min="1" />
                                <button type="submit" class="button button-3d">Adicionar ao Carrinho</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'core/footer.html' %}
{% endblock %}



